<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="style.css" type="text/css">

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const searchInput = document.getElementById('searchInput');
            if (searchInput) {
                searchInput.focus();
            }
        });

    </script>
    <style>
        #trash{
            border:none;
            background-color: #fff;
            outline: none;
            cursor:pointer;
            margin: 0;
            background-color: transparent;
        }
        #trash:hover{
            color:red;
        }
        #todo:hover{
            background-color: #bbe4e9;
        }

        @media (max-width: 768px) {
            #todo {
                flex-direction: column;
            }
        }
    </style>
</head>
<body>
<div class="container-fluid">
        <%- include('partials/navbar'); -%>
        <div class="col-sm p-3 min-vh-100 ">
            <h5 ><strong>TO DO APP</strong> <i class="bi bi-check2-circle"></i></h5>
            <hr /> 
            <form action="/" method="GET" class="mb-3">
                <div class="input-group">
                    <input class="form-control me-2" name="search" type="search" placeholder="Search category" aria-label="Search" id="searchInput" autocomplete="off">
                    <button class="btn btn-outline-secondary" type="submit" id="search-button"><i class="bi bi-search"></i></button>
                </div>
            </form>
            <div class="container w-75 p-3">
                <% if (categories && categories.length > 0) { %>
                    <% categories.forEach(category => { %>
                        <h5 style="color:<%= '#' + ((1 << 24) * Math.random() | 0).toString(16).padStart(6, '0')%>;"><strong><%= category.charAt(0).toUpperCase() + category.slice(1)  %></strong></h5>
                        <ul class="list-group">
                            <% 
                                const sortedTodos = todosByCategory[category].sort((a, b) => {
                                    // Convert priority strings to numbers for comparison
                                    const priorityA = parseInt(a.priority);
                                    const priorityB = parseInt(b.priority);
                                    return priorityB - priorityA; // Sort in descending order
                                });
                            %>
                            <%
                            todosByCategory[category].forEach(todo => { %>
                                <li id="todo" class="list-group-item justify-content-between align-items-center d-flex">
                                    <form id="deleteForm" action="/delete-todo" method="POST">
                                        <input type="hidden" name="todoId" value="<%= todo._id %>">
                                        <button type="submit" id="trash"><i class="bi bi-trash3"></i></button>
                                    </form>
                                    <span><strong>Todo:</strong> <%= todo.obj %></span>
                                    <span><strong>Start:</strong> <%= todo.startingDate.toLocaleDateString() %></span>
                                    <span><strong>End:</strong> <%= todo.endingDate.toLocaleDateString() %></span>
                                    <span class="badge badge-primary badge-pill">priority : <%= todo.priority %></span>

                                    <form id="doneForme" action="/isdone" method="POST">
                                        <input type="hidden" name="todoId" value="<%= todo._id %>">
                                        <% if (todo.done) { %>
                                            <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-check-lg"></i></button>
                                        <% } else { %>
                                            <button type="submit" class="btn btn-sm"><i class="bi bi-check-lg"></i></button>
                                        <% } %>
                                    </form>

                                </li>

                            <% }); %>
                                <li class="justify-content-between align-items-center d-flex">
                                    <span><a href="/compose?category=<%= encodeURIComponent(category) %>"><i class="bi bi-plus"></i></a> add todo</span>
                                </li>
                            <hr />
                        </ul>

                    <% }); %>
                        <form id="deleteForm" action="/delete-all" method="POST">
                            <input type="hidden" name="todoId">
                            <button type="submit" class="btn btn-primary mt-3">clear all</button>
                        </form>
                    <% } else if (categories.length === 0) { %>
                        <div class="text-center bg-light p-5">
                            <p class="text-muted"><strong>0 categories found</strong></p>
                        </div>
                    <% } %>


                
            </div>
        </div>
    </div>
</div>

</body>
</html>
