<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="../public/style.css" type="text/css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                    <i class="bi bi-person-circle"></i>
                </a>

                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                            <i class="bi bi-search"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/compose" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class="bi bi-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                            <i class="bi-table fs-1"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm p-3 min-vh-100">
            <!-- content -->
            <h2>TO DO APP</h2>
            <hr />

            <!-- Display Categories -->
            
            <div>
                <% if (categories && categories.length > 0) { %>
                    <% categories.forEach(category => { %>
                        <h3><%= category %>:</h3>
                        <ul>
                            <% todosByCategory[category].forEach(todo => { %>
                                <li>
                                    <strong>Todo:</strong> <%= todo.obj %><br />
                                    <strong>Start Date:</strong> <%= todo.startingDate.toLocaleDateString() %><br />
                                    <strong>End Date:</strong> <%= todo.endingDate.toLocaleDateString() %><br />
                                    <strong>Priority:</strong> <%= todo.priority %><br />
                                </li>
                            <% }); %>
                            <hr />
                        </ul>
                    <% }); %>
                <% } else { %>
                    <p>No categories found.</p>
                <% } %>
            </div>
        </div>
    </div>
</div>

</body>
</html>
